body{
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
}
.pick-ride-card{
    height: 320px;
    width: 320px;
    background-color:LightPink;
    border-radius: 10px;
    margin-left: 45px;
}
/* .map{
    margin-right: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
} */
.pick-ride-card input{
    padding: 10px 15px;
    width:280px;
    border-bottom: 1px solid grey;
}
.ride-details{
    display:flex;
    border: 1px solid grayscale;
    border-radius:5px;
    margin-top:15px;
    background-color:white;
    color:black;
    width:93%;
    height:60px;
    margin-left:12px;
}
.ride-details img{
    height: 22px;
    width: 22px;
    margin-left:20px;
    margin-top: 18px;
}
.ride-details h6{
    margin-left: 30px;
    margin-top:20px;
}
